body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

.detail-page {
    /* Example style */
    padding: 2rem;
    background-color: blue;
  }
  