body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

header {
  width: 750px;
  padding: 1.25em;
  background-color: white;
}

header img {
  width: 750px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
  
.article {
  font-family: 'nyt-imperial', serif;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 1.25em;
  border-top: 1px solid black;
  max-width: 750px;
}

.article img {
  width: 250px;
  margin-right: 1.25em;
}

.article .title {
  color: black;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.article .description {
  color: rgb(100, 100, 100);
  font-family: 'nyt-imperial', serif;
}

a:link {
  text-decoration: none;
}
